<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body class="bg-sky-700 min-h-screen ">
    <div id="container">
        <header class="sticky top-0 z-50 bg-slate-950/70 backdrop-blur-md border-b border-white/5">
            <nav class="max-w-5xl mx-auto flex items-center justify-between px-6 py-4">

                <!-- Logo / Title -->
                <div class="relative group w-fit cursor-pointer">
                    <h2 class="text-3xl font-semibold text-sky-200 transition-all duration-300 ease-out
                        hover:tracking-widest
                        hover:drop-shadow-[0_0_12px_rgba(56,189,248,0.55)]">
                        By Armand
                    </h2>
                    <span class="absolute left-1/2 -translate-x-1/2 -bottom-1
                        h-0.5 w-0
                        bg-sky-400
                        transition-all duration-300 ease-out
                        group-hover:w-full block ">
                    </span>
                </div>



                <!-- Actions -->
                <div class="flex items-center gap-4">

                    <a href="/admin/create" class="px-4 py-1.5 rounded-lg 
                    bg-sky-500/20 text-sky-200 border border-sky-400/30 text-xl
                    hover:bg-sky-400 hover:text-sky-900 hover:border-sky-400
                    transition-all duration-200 cursor-pointer">
                        Create
                    </a>

                    <button id="logout" class="px-4 py-1.5 rounded-lg 
                        border border-sky-400/20 text-sky-200/80 text-xl
                        hover:text-sky-300 hover:border-sky-400/60 hover:bg-sky-100/10
                        transition-all duration-200 cursor-pointer">
                        Logout
                    </button>

                </div>
            </nav>
        </header>

        <main class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-30 px-4 sm:px-6 lg:px-10 pb-15" id="posts">

        </main>
    </div>
      <script type="module" src="/js/dashboard.bundle.js"></script>
</body>

</html>