<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Read blog posts by Armand Amores on software development, web technologies, programming, personal projects, and thoughts from my journey through tech and beyond." />
  <title>Armand Amores | Blog</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://unpkg.com/lucide@latest"></script>
  <script type="module" src="/js/theme.js"></script>
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body>


  <div
    class="bg-linear-to-r from-white to-white dark:from-ctp-base dark:to-ctp-mantle text-white min-h-screen pt-16 pb-16">

    <div class="nav-mount" id="nav-mount"></div>

    <main class="mt-24 text-center text-ctp-mantle px-4 sm:px-6 ">
      <h1
        class="text-5xl mb-7 font-extrabold sm:text-5xl md:text-6xl text-sky-500 dark:text-white relative z-2 tracking-tight"
        style="text-shadow: 0 0 30px rgba(255, 255, 255, 0.35);">
        Things I Think About
      </h1>
      <h2 class="text-sky-900 dark:text-white text-2xl ">A blog to spill my thoughts on life, goals,
        technology and more </h2>
      <div id="tags" class="flex gap-6  justify-center mt-6 flex-wrap"></div>
      <div id="posts" class="mt-10 flex flex-col items-center gap-9 px-4 "></div>
    </main>

  </div>

  <script type="module" src="/js/blog.js"></script>
</body>

</html>