<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <meta name="description" content="">
  <script type="module" src="/js/theme.js"></script>
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>

<body class="bg-white dark:bg-[radial-gradient(circle_at_left,#1e293b_0%,#0f172a_40%,#020617_100%)]">

  <div class="text-white max-h-max pt-16 pb-16">

    <div class="nav-mount" id="nav-mount"></div>

    <main class="text-slate-700 dark:text-white">

      <div id="content" class="max-w-4xl mx-auto px-6 py-8">

        <a href="/blog" id="backToBlog"
          class="flex gap-1 my-5 text-orange-600 hover:underline dark:text-orange-300 group mb-10"> <i
            data-lucide="arrow-left" class="group-hover:-translate-x-1 transition-transform duration-200 ease-out"></i>
          <p>back to blog</p>
        </a>

        <div class="mb-5 flex gap-2 items-center w-max px-2 rounded-2xl">

          <div class="flex gap-2 items-center">
            <i data-lucide="calendar" class="w-4 h-4"></i>
            <div id="date" class="flex gap-2"></div>
          </div>

          <div class="flex gap-2 items-center">
            <i data-lucide="clock" class="w-4 h-4"></i>
            <div id="ttr" class="flex gap-2"></div>
          </div>

        </div>



        <div id="title"></div>
        <div id="excerpt"></div>
        <div id="categories" class="flex gap-4 my-5"></div>
        <hr class="mb-10">


      </div>

    </main>


  </div>
  <script type="module" src="/js/post.js"></script>
</body>

</html>