/* #content {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
} */


#date {
  align-items: center;
}

#date time {
  padding: 4px 12px;
  border-radius: 999px;
  background: rgb(166 211 255 / 60%);

}

.dark #date time{
  background: rgba(241, 245, 249, 0.1);
  
}

#ttr{
  padding: 4px 12px;
  border-radius: 999px;
  background: rgb(220, 231, 241);
  margin-left: 2px;
}

.dark #ttr {
  background: rgba(241, 245, 249, 0.1);

}

#date p {
  padding: 4px 12px;
  border-radius: 999px;
  background: rgba(226, 232, 240, 0.6);
  /* was #e2e8f0 */
  color: #1e293b;
}

.post-title {
  font-size: 2.87rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2rem;
  letter-spacing: -0.06em;
}

.post-heading {
  font-weight: 700;
  margin: 2rem 0 0.75rem;
}

.post-heading--2 {
  font-size: 2.25rem;
  letter-spacing: -0.06em;
  line-height: 1;
}

.post-heading--3 {
  font-size: 1.375rem;
  letter-spacing: -0.06em;
  line-height: 1;
}

.post-heading--4 {
  font-size: 1.125rem;
  letter-spacing: -0.06em;
  line-height: 1;
}

#excerpt h2{
  font-size: 1.3rem;
}

.post-paragraph {
  font-size: 1.27rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color:  var(--color-ctp-surface)
}

.dark .post-paragraph{
  color: rgb(255, 255, 255);

}

.post-list {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 1.25rem;
  padding-left: 3.5rem;
}

.post-list__item {
  margin-bottom: 0.5rem;
}

.post-list--ordered {
    list-style-type: decimal;
}

.post-list--unordered {
    list-style-type: disc;
}

.post-image {
  width: 100%;
  margin: 3.5rem 0;
  border-radius: 8px;
  overflow: hidden;
}

.post-image figcaption{
  text-align: center;
  font-style: italic;
}

.post-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.post-quote {
  border-left: 4px solid #000;
  margin: 1.5rem 0;
  padding: 0.5rem 0 0.5rem 1.25rem;
  font-style: italic;
  font-size: 1.2rem;
}

.post-code {
  background: #f4f4f4;
  border-radius: 6px;
  padding: 1rem 1.25rem;
  margin: 1.5rem 0;
  overflow-x: auto;
}

.post-code__block {
  font-family: monospace;
  font-size: 0.9rem;
}

.end {
  display: flex;
  justify-content: space-between;
}

.end a:hover {
  color: orange;
}


#backToBlog{
  color: var(--color-sky-700);
}

.dark #backToBlog{
  color: var(--color-ctp-peach);
}

.end a:hover{
  color: var(--color-sky-800);
}

.dark .end a:hover{
  color: var(--color-ctp-peach);
}

